.MainForm {
    @apply w-full h-full mb-6;

    .Inner {
        @apply bg-white flex flex-col gap-4;
        @apply bg-white flex flex-col gap-4;
    }
}

.MainTitle {
    @apply mb-3 font-bold text-2xl self-start uppercase text-primary-200 text-center laptop:text-left w-full;
}

.Window {
    @apply w-full rounded-lg flex gap-3 items-center justify-center;
}

.Pic {
    @apply hidden w-full;
    @screen laptop {
        @apply relative block;
    }
    img {
        @apply object-cover object-center;
    }

    .box {
        @apply overflow-hidden max-w-[70%] w-auto text-sm font-mono text-white px-2 py-4 rounded-2xl bg-main-300 absolute -top-4 left-0;
        p {
            @apply overflow-x-scroll;
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            rotate: 40deg;
            border-bottom: 17px solid #7a9d54;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            bottom: -4px;
            left: 4px;
        }

        @screen laptop {
            @apply text-base px-4 py-5;
        }
    }
}

.Form {
    @apply font-lato px-6 py-4 rounded-lg bg-main-100 w-full mx-2 max-w-[600px];
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
        @apply text-xl font-semibold text-main-300;
        @screen laptop {
            @apply basis-2/3 text-2xl;
        }
    }
    h2 {
        @apply text-sm mt-0.5 text-main-200 italic;
        @screen laptop {
            @apply text-base;
        }
    }
    .MainForm {
        @apply mt-6;
    }
    .input-field {
        @apply font-lato flex flex-col gap-[30px];
        .item {
            @apply relative flex flex-col gap-1.5;
            label {
                @apply opacity-70 pointer-events-none transform transition-all duration-100 absolute py-3 px-4 font-bold text-main-300;
            }
            input {
                @apply border border-[#9EB384] rounded-lg w-full py-3 px-4 text-main-400 leading-tight focus:outline-none;
            }
            input[type='date']:required:invalid::-webkit-datetime-edit {
                color: transparent;
            }
            input[type='date']:focus::-webkit-datetime-edit {
                color: #7a9d54 !important;
            }
        }
    }
    .item > input:focus ~ label,
    .item > input:valid ~ label {
        @apply bg-white opacity-100 py-0 px-2 text-sm bg-transparent transform -translate-x-2 -translate-y-6;
    }

    .Submit {
        @apply mt-6 bg-main-300 hover:bg-main-200 hover:text-main-300 text-white font-semibold py-2.5 px-6 rounded-md;
        width: 115px;
    }
}
