.main {
    @apply p-4 w-screen h-screen shadow-layout bg-white duration-300 sticky;
    transition: all 0.3s ease;
    max-width: 230px;
    .inner {
        @apply h-full w-full flex flex-col items-center;
        .menu {
            @apply w-full;
            &>.text {
                @apply font-bold text-main-400 text-2xl;
            }
        }
    }
}   

.setting {
    @apply w-full flex gap-4 items-center p-4;

    &:hover {
        @apply bg-greyscale-50 rounded-xl;
    }
    &>.text {
        @apply font-semibold text-title-1 text-greyscale-500 tracking-[0.2px];
    }
}

.profile {
    @apply w-full flex gap-4 items-center p-4 mt-2;

    &:hover {
        @apply bg-greyscale-50 rounded-xl;
    }

    &>.text {
        @apply font-semibold text-title-1 text-greyscale-500 tracking-[0.2px];
    }
}

.menu-list {
    @apply flex flex-col gap-2 mt-4;
    .item {
        @apply flex gap-4 items-center px-4 py-3 rounded-xl text-base  ; 

        &:hover {
            @apply bg-greyscale-50 ;
        }
        &>.text {
            @apply font-semibold text-base text-greyscale-500 tracking-[0.2px];
        }
        &>.icon{
            @apply text-greyscale-500;
        }

    }
    .item.active{
        @apply bg-main-300 flex ;
        &>.text  {
            @apply text-greyscale-100 font-bold;
        }
        &>.icon{
            @apply text-greyscale-100;
        }
    
    }
    
}