.sideBar-main {
    @apply px-4 pt-8 pb-6 shadow-sideBar bg-white;
    min-width: 250px;
    min-height: 100%;


    &>.sideBar-inner {
        @apply flex flex-col items-center justify-center;
        min-width: 218px;

        &>.sideBar-logo {
            @apply flex gap-2.5 items-center;

            &>.logo {
                @apply p-1 rounded-lg shadow-xl bg-primary-400;
            }

            &>.text {
                @apply font-bold text-primary-200 text-title-5;
            }
        }

        &>.line {
            @apply bg-greyscale-100 h-px w-full mt-[27px];
        }

        &>.sideBar-menu {
            @apply w-full mt-8;

            &>.text {
                @apply font-bold text-greyscale-400 text-caption-1;
            }

            &>.menu-list {
                @apply mt-4;

                .item {
                    @apply flex gap-4 items-center p-4;

                    &:hover {
                        @apply bg-greyscale-50 rounded-xl;
                    }

                    &>.text {
                        @apply font-bold text-greyscale-400 text-caption-1;
                    }

                    &>.text {
                        @apply font-semibold text-title-1 text-greyscale-500 tracking-[0.2px];
                    }
                }
            }
        }

        &>.sideBar-setting {
            @apply w-full flex gap-4 items-center p-4;

            &:hover {
                @apply bg-greyscale-50 rounded-xl;
            }

            &>.text {
                @apply font-semibold text-title-1 text-greyscale-500 tracking-[0.2px];
            }
        }

        &>.sideBar-profile {
            @apply w-full flex gap-4 items-center p-4 mt-2;

            &:hover {
                @apply bg-greyscale-50 rounded-xl;
            }

            &>.text {
                @apply font-semibold text-title-1 text-greyscale-500 tracking-[0.2px];
            }
        }
    }

}