.Container{
    @apply w-full h-full;
}

.Main{
    @apply w-full h-full flex bg-main-100 ;
}

.Content{
    @apply w-full flex flex-col py-2 px-3 overflow-y-hidden ;
    .Inner{
        @apply flex w-full h-fit shadow-layout bg-white rounded-lg pt-6 pb-12 px-8 ;
    }
}


